


html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 13px;
  color: #fefefe;
  background: #151520;
}

.canvas {
  touch-action: none;
  height: 100vh !important;
}

a {
  pointer-events: all;
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}




.statsFps {
  position: absolute !important;
  top: 5rem !important;
  height: 45px;
}