@import './Contact.css';

* {
  box-sizing: border-box;
}
 
html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #141A26;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none !important;
  overflow: hidden !important;
  overscroll-behavior: none !important;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  background-color: #efefef;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.webgl {
  width: 100%;
  height: 100vh !important;
  position: absolute;
  top: 0;
  pointer-events: none;
  overflow: hidden;
}






#Footer {
  position: absolute;
  bottom: 0;
  right: 1em;
  z-index: 200;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  color: "red";
  border-radius: 15px 0 0 0;
  padding: 1rem;
}
#Footer > div {
  margin: 0 0 0 2rem;
}
#Footer span {
  font-weight: 900;
}

#Footer svg {
  
  fill: green;
}